*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

body{
	height: 100%;
}

header{
	height: 80px;
	background-color: #ccc;	
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.container{
	max-width: 600px;
	text-align: center;
	background-color: green;
}