:root{
    --background-color: #F0F8FF;
    
    --header-color: #CDE4FA;
    --xp-bar-color: #28a745;
    --xp-bar-background-color: #505152;
    
    --header-text-color: #FFC107;
    --app-name-border: #070501;
}